.jumbotron {
    background-color: rgb(49, 201, 206);
    color: black;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: rgb(237, 205, 100);
    margin-bottom: 0px;
    margin-top: 20px;
}

.card-hotel {
    flex: 1 150px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}